.About {
	margin: 30px;
	padding: 10px;
	text-align: center;
}

p {
	font-size: large;
	padding-top: 150px;
	padding-left: 100px;
	padding-right: 100px;
	margin: 25px;
}

.Technologies {
	padding-top: 25px;
	padding-right: 1000px;
}

.TechnologyNames {
	font-style: italic;
	padding-right: 10px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(100px, auto);
	width: 100%;
}

.container {
	position: fixed;
	bottom: 100;
}

.jumbotron {
	width: 250px;
}


.progress-bar {
	background-color: red;
	height:100px;
}

